/* Global styles */

body {
  
  color: #333;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif;
  font-weight: normal;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  background-color: #ff3b3f;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* Header */

.nav_container {
  background-color: palevioletred ;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.logo_container {
  display: inline-block;
}

.logo {
  font-size: 28px;
  margin: 0;
}

.logo span {
  color: #ff3b3f;
}

.links_container {
  display: inline-block;
  float: right;
}

.links_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links_container li {
  display: inline-block;
  margin-right: 20px;
}

/* Main content */

.optional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#upload_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .logo_container, .links_container {
    display: block;
    float: none;
  }

  .logo {
    text-align: center;
  }

  .links_container {
    margin-top: 20px;
    text-align: center;
  }

  .links_container li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .optional .card {
    width: 150px;
    height: 150px;
  }
}